html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 30px;
    background-color: #000000;
  }

h2 {
    color: #fff;
  }

p {
    color: #fff;
}

/*jija*/
  
.header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 50px;
}

.header-title {
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 37px;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    width: 500px;
}

.header-suptitle { 
    font-size: 15px;
    line-height: 37px;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    width: 400px;
}

/*navbar*/

.navbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: transparent;
}

.navbar .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(10px);
    padding-top: 10px;
}

.navbar .menu a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    transition: transform 0.4s ease, color 0.3s ease;
}

.navbar .menu a:hover {
    color: #fff;
    transform: scale(1.05);
}

.header-img-wripper {
    display: flex;
    justify-content: center;
    align-items: right;
}

.log {
    width: 100px;
}

.zag {
    margin: 50px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
}

.prod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    }
    
.card {
    width: 320px;
    padding: 30px;
    transition: transform 0.4s ease, color 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}

.center-button {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.867);
    border: 2px solid rgba(255, 255, 255, 0.549);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 20px;
}
.center-button:hover {
    background-color: rgba(255, 255, 255, 0.15);}

.container  {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    position: relative;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding: 50px;
    font-size: 25px;
    line-height: 37px;
    font-weight: 200;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    text-align: justify;
    float: right;
}
.goga {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.proiz {
    display: flex;
    justify-content: space-between;
    width: 700px;
    padding-left: 50px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    text-align: justify;
    float:left;
}

.lop {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-right: 50px;
    float:right;
}

.serkan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 60px;
    float:left;
}

.eda {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 50px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    text-align: justify;
    float:right;
}

.melo {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
}

/*форма*/

form {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
}
input {
    color: rgba(255, 255, 255, 0.756);
    background-color: black;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.865);
    padding: 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
}
input:focus{
    outline: none;
}


form p {
    color: rgba(255, 255, 255, 0.81);
    width: 50%;
    float: left;
    margin: 20px;
}
.date {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom:1px solid rgba(255, 255, 255, 0.776);
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
}
.date input{
    border: none;
}
.gl {
    margin-left: 200px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}
.vt {
    font-size: 16px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    margin-left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}
hr{
    color: #fff;
    width: 800px;
    height: 1px;
    margin: auto;
    margin-top: 50px;
}

 /*Подвал*/

.footer {
    text-align: center;
    padding: 70px;
    font-size: 15px;
    line-height: 37px;
    font-weight: 200;
}

.afooter {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    transition: transform 0.4s ease, color 0.3s ease; 
}
.afooter:hover {
    transform: scale(1.1);
}

.ljto {
    padding: 50px;
    align-self: center;
    transition: transform 0.4s ease, color 0.3s ease;
}
.ljto:hover {
    transform: scale(1.05);
}

.coop {
    color: rgba(255, 255, 255, 0.756);
    font-size: 14px;
    line-height: 30px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    margin: auto;
}

.video {
    display: block;
    margin: auto;
    padding: 50px;       
}

